<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">

  <!-- Meta tags for search engines to crawl -->
  <meta name="robots" content="index,follow">
  <meta name="keywords" content="Anyi Rao; 饶安逸">
  <link rel="author" href="https://anyirao.com/">
  <title>Anyi Rao</title>
  <link rel="icon" href="/images/ico/hkust.ico"/>
  <link rel="apple-touch-icon" href="/images/ico/hkust_180.png">
  <link rel="manifest" href="/images/ico/hkust_180.png">
  <style>
          {% capture include_to_scssify %}
          {% include main.scss %}
          {% endcapture %}
          {{ include_to_scssify | scssify }}
  </style>
</head>
